<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Page</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body tabindex="-1">

    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <a class="btn btn-ghost text-xl" href="/views/home.html">Lego Collection</a>
      </div>
  
      <div class="navbar-end hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/views/about.html">About</a></li>
          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li><a href="/data/themeData?theme=technic">Technic</a></li>
                <li><a href="/data/themeData?theme=classic town">Classic Town</a></li>
                <li><a href="/data/themeData?theme=supplemental">Supplemental</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>
  
    <br>

    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center ">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">404</h1>
            <p class="py-6"> This is an error page. <br> I'm sorry, we're unable to find the hapiness you're looking for. 
                <br> Cry some more, come back later.</p>
          </div>
        </div>
      </div>

  </body>
</html>