<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="stylesheet" href="/public/css/main.css">
  </head>
  <body tabindex="-1">

    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <a class="btn btn-ghost text-xl" href="/views/home.html">Lego Collection</a>
      </div>
  
      <div class="navbar-end hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a class="active" href="/views/about.html">About</a></li>
          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li><a href="/data/themeData?theme=technic">Technic</a></li>
                <li><a href="/data/themeData?theme=classic town">Classic Town</a></li>
                <li><a href="/data/themeData?theme=supplemental">Supplemental</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>
  
    <br>

    <div class="container mx-auto">

      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center ">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>
  
            <p class="py-6">Everything you DON'T want to know about me - the crappy designer & even shittier developer.</p>

          </div>
        </div>
      </div>

      <br>


      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <img class="max-w-lg rounded-lg" src="https://d1w8c6s6gmwlek.cloudfront.net/thandsinks.com/products/321/732/32173212.png" alt="profile">
        </div>

        <div class="prose">

          <p>My name is John Smith and I'm currently studying at Seneca Polytechnic.</p>

          <p>Donec sollicitudin molestie tortor, vel feugiat nulla maximus quis. Suspendisse ut sapien id mauris
            sollicitudin commodo. Quisque semper, ligula et tincidunt dapibus, nisi ante fermentum lectus, nec molestie
            sem eros vel neque. Duis sit amet ligula eu ligula consectetur blandit sed at mi. Sed ac odio aliquet,
            vestibulum justo eget, volutpat eros. Mauris a dictum erat. Vivamus sodales egestas tempus. Duis pulvinar nibh
            enim, vel gravida nunc egestas id. Duis magna ante, posuere id luctus id, mattis at ipsum. Nullam sit amet
            magna et dui varius tristique ac id nisl. Pellentesque est dolor, luctus vitae dictum ut, hendrerit lacinia
            lorem. Nullam a pharetra tortor.</p>
        </div>
      </div>

    </div>







  
  </body>
</html>